header {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 55px;
    /* border: 2px solid blue; */
}

#logo {
    width: 20px;
}

#title {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}