#container {
    width: 550px;
    height: 100vh;
    margin: 0 auto;
    /* border: 2px solid blue; */
}

#entry-container {
    margin: 20px 40px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}